@import url('https://fonts.googleapis.com/css?family=Mallanna&display=swap');

*{
    font-family: 'Mallanna', sans-serif;
}

.profileImg{
    width: 200px;
    height: 200px;
}

.brackets{
    display: none;
}

.centered{
    text-align: center;
}

.skills{
    width: 50px;
    height: 50px;
}

.jumbotron{
    background-image: linear-gradient(#ffc107, #fff);
}

.goHome a,
small a{
    color: rgb(52, 58, 64);
    text-decoration: none;
}

.goHome a:hover,
small a:hover{
    color: black;
    text-decoration: underline;
}

.navbar-brand{
    color: rgb(52, 58, 64);
}

@media (min-width: 992px) { 
    .skills{
        width: 75px;
        height: 75px;
    }
 }


@media (min-width: 560px) {
    .brackets{
        display: inline;
        width: 150px;
        height: 150px;
    }
}